@page
@model Activity8gian.Pages.IndexModel
@{
    ViewData["Title"] = "Product List";
}

<div class="text-center">
    <h1 class="display-4">Product List</h1>
    <p>Manage your products here.</p>
</div>

<div class="input-group mb-3">
    <label class="input-group-text" for="searchBy">Search By</label>
    <select class="form-select" id="searchBy" asp-for="SearchBy">
        <option value="" selected>Choose...</option>
        <option value="Name">Name</option>
        <option value="Price">Price</option>
        <option value="Category">Category</option>
    </select>

    <input type="text" id="keyword" class="form-control" asp-for="Keyword" placeholder="Enter keyword">
    <button class="btn btn-outline-secondary" type="button" onclick="search()">
        <i class="bi bi-search"></i>
    </button>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id
                <div class="btn-group" role="group" aria-label="">
                    <a href="~/index?sortBy=Id&sortAsc=false" type="button" class="btn btn-secondary">&lt;</a>
                    <a href="~/index?sortBy=Id&sortAsc=true" type="button" class="btn btn-secondary">&gt;</a>
                </div>
            </th>
            <th scope="col">Name
                <div class="btn-group" role="group" aria-label="">
                    <a href="~/index?sortBy=Name&sortAsc=false" type="button" class="btn btn-secondary">&lt;</a>
                    <a href="~/index?sortBy=Name&sortAsc=true" type="button" class="btn btn-secondary">&gt;</a>
                </div>
            </th>
            <th scope="col">Price
                <div class="btn-group" role="group" aria-label="">
                    <a href="~/index?sortBy=Price&sortAsc=false" type="button" class="btn btn-secondary">&lt;</a>
                    <a href="~/index?sortBy=Price&sortAsc=true" type="button" class="btn btn-secondary">&gt;</a>
                </div>
            </th>
            <th scope="col">Category
                <div class="btn-group" role="group" aria-label="">
                    <a href="~/index?sortBy=Category&sortAsc=false" type="button" class="btn btn-secondary">&lt;</a>
                    <a href="~/index?sortBy=Category&sortAsc=true" type="button" class="btn btn-secondary">&gt;</a>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Products)
        {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                    <td>@product.Category</td>
                </tr>
        }
    </tbody>
</table>

@section Scripts {
        <script>
            function search() {
                const searchBy = document.getElementById("searchBy").value;
                const keyword = document.getElementById("keyword").value;
                window.location = `~/index?searchBy=${searchBy}&keyword=${keyword}`;
            }
        </script>
}
