@page
@model Activity8gian.Pages.IndexModel

@{
    ViewData["Title"] = "Product Page";
}

<div class="text-center">
    <h1 class="display-4">Product List</h1>
</div>

<div class="input-group mb-3">
    <label class="input-group-text" for="searchBy">Search By</label>
    <select class="form-select" id="searchBy" asp-for="SearchBy">
        <option value="" selected>Choose...</option>
        <option value="Name">Name</option>
        <option value="Price">Price</option>
        <option value="Category">Category</option>
    </select>

    <input type="text" id="keyword" class="form-control" asp-for="Keyword">
    <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="search()"><i class="bi bi-search"></i></button>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">
                Name
                <div class="btn-group" role="group" aria-label="">
                    <a href="~/index?sortBy=Name&sortAsc=false" class="btn btn-secondary">&lt;</a>
                    <a href="~/index?sortBy=Name&sortAsc=true" class="btn btn-secondary">&gt;</a>
                </div>
            </th>
            <th scope="col">
                Price
                <div class="btn-group" role="group" aria-label="">
                    <a href="~/index?sortBy=Price&sortAsc=false" class="btn btn-secondary">&lt;</a>
                    <a href="~/index?sortBy=Price&sortAsc=true" class="btn btn-secondary">&gt;</a>
                </div>
            </th>
            <th scope="col">
                Category
                <div class="btn-group" role="group" aria-label="">
                    <a href="~/index?sortBy=Category&sortAsc=false" class="btn btn-secondary">&lt;</a>
                    <a href="~/index?sortBy=Category&sortAsc=true" class="btn btn-secondary">&gt;</a>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Products)
        {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                    <td>@product.Category</td>
                </tr>
        }
    </tbody>
</table>

@section Scripts {
        <script>
            function search() {
                window.location = "~/index?sortBy=Name&sortAsc=true&searchBy=" + $("#searchBy").val() + "&keyword=" + $("#keyword").val();
            }
        </script>
}
